* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  :root {
     
    font-size: 62.5%;

    --text-color: white;
    --titleTable-color: #092D38;

    --tables01:#2F2F33;
    --borders-button: #4A808C;
    --button-favor:#065E7C;

  }
  
  body {
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: black;
    font-family: 'Roboto', sans-serif;
  }
  
 

  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  #app {
    padding-top: 11.5rem ;
    max-width: 1120px;
    margin: 0 auto;
    
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8.5rem; 
    padding: .5rem;
  }

  header img{
    width: 18.6rem;
    height: auto;
    margin-right: 2.4rem;

  }

  .search {
    display:flex;
    align-items:center;
    justify-content: end;
    gap:.8rem;
  
    width: 68.0rem;
  }

  .search input{
    width: 100%;
    height: 4.8rem;
    border-radius: 5px;
    padding: 0 .8rem;
    background: #06181C;
    color:var(--text-color);

    
  }
  
  .search button{
    background-color: var(--button-favor);
    height: 4.8rem;
    
    border: none;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  
  
    padding: .5rem 3rem;
    

    color:var(--text-color);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
 

    cursor: pointer;
  }


    


  .search button img{
    width: 2rem;
    height: 2rem;
  }


   

  .search button:hover{
    filter:brightness(1.1)
  }

  .container {
    max-height: 52rem; 
    overflow-y: scroll;
    border-radius: 1.2rem;
    border-collapse: collapse;
    border:var(--titleTable-color) .2rem solid;
    }
    
  ::-webkit-scrollbar-track-piece {
    background-color: transparent; 
    margin-block-start:4.9rem;
  }
  ::-webkit-scrollbar {
    
    width: .6rem;
    background: transparent;
    
  }
  ::-webkit-scrollbar-thumb {
    background: #4A808C;
    border-radius: 1rem;
  }
 

  table{
    width:100%;
    border-radius: 1.2rem;
    border-collapse: collapse;

   
  }


 
  table * {
    
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    font-weight: bolder;
    line-height: 160%;
    color:var(--text-color);

  }


  table th {
    background-color: var(--titleTable-color);
    text-align: left;
    padding: 1.5rem;
    
  }

  table th:first-child {
    border-top-left-radius: .4rem;
  }
  table th:last-child {
    border-top-right-radius: .4rem;
  }

  table tr{
    background-color:rgba(6, 22, 27, 0.5);
  
  }
  table tr:nth-child(odd){
    background-color:var(--tables01);
  }


  table td{
    padding: 1.5rem;
    text-align:left;
    border-top: #065E7C .2rem solid;
    
  }

  td.user{
    display:flex;
    align-items: center;
    gap:1rem;
    
  }



  td.user img {
    width: 5rem;
    height: 5rem;
    object-fit:over;
    border-radius: 50%;
  }

  td.user a {
    text-decoration: none;
   
  }

  td.user a p {
    font-weight: bold;
    
  }

  td .remove {
    background: none;
    border:none;
    color:red;
    cursor: pointer;
  }

  
  @media(max-width: 600px) {
    .search button {
      font-size:0%;
      width: 1.8rem;
    }

    #app {
      padding-top: 6.5rem ;
      scrollbar-arrow-color: #092D38;
    }
     
   
  }